@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.area {
    @include breakpoint(min-xl-device) {
        padding-top: 130px;
        padding-bottom: 140px;
    }
    @include breakpoint(min-md-device) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(max-sm-device) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.img {
    position: relative;
    display: flex;
}
.add {
    &__action {
        background-color: $secondary;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin-bottom: 0;
            a {
                color: $white;
                &:hover {
                    color: $primary;
                }
            }
        }
        .icon {
            background-color: $primary;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            a {
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 17px;
            }
        }
    }
}
.section {
    @include breakpoint(min-md-device) {
        padding-bottom: 70px;
    }
    @include breakpoint(max-sm-device) {
        padding-bottom: 30px;
    }
    @include breakpoint(min-lg-device) {
        display: flex;
        justify-content: space-between;
    }
    &_title {
        position: relative;
        @include breakpoint(min-lg-device) {
            padding-right: 30px;
            margin-right: 30px;
        }
        &:before {
            @include breakpoint(min-lg-device) {
                background-color: #d3d2d2;
                height: 100px;
                width: 1px;
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        span {
            text-transform: uppercase;
            padding-bottom: 5px;
            font-weight: 700;
            color: $primary;
            display: block;
            font-size: 20px;
        }
        h2 {
            font-size: 60px;
            line-height: 1;
            @include breakpoint(max-sm-device) {
                font-size: 40px;
            }
        }
    }
    &_banner {
        position: relative;
        @include breakpoint(min-lg-device) {
            width: calc(100% - 480px);
            align-self: center;
        }
        &:before {
            background-image: url('../../../public/images/service-section/bg/1-1.jpg');
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        .info {
            font-weight: 400;
            font-size: 28px;
            color: $white;
            padding: 30px;
            line-height: 1.3;
            margin-bottom: 0;
            @include breakpoint(max-sm-device) {
                font-size: 20px;
            }
            span {
                color: $primary;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 700;
                margin-left: 5px;
                vertical-align: middle;
                @include breakpoint(max-sm-device) {
                    font-size: 25px;
                }
            }
        }
    }
}
.navigation {
    &__holder {
        position: relative;
    }
}

/* ---Service Sidebar Widget-- */
.sidebar {
    &_widget {
        background-color: $secondary;
    }
    &_list {
        text-align: center;
        li {
            &:not(:last-child) {
                border-bottom: 1px solid #5b749a;
            }
            a {
                transition: $baseTransition;
                color: $white;
                padding-top: 20px;
                padding-bottom: 20px;
                color: $white;
                display: block;
            }
            &:hover {
                a {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
    &_brochure {
        &__widget {
            background-color: $primary;
            text-align: center;
        }
        &__list {
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid #ffdac8;
                }
                a {
                    transition: $baseTransition;
                    text-transform: uppercase;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: block;
                    color: $white;
                }
                span {
                    transition: $baseTransition;
                }
                &:hover {
                    a {
                        background-color: $secondary;
                        color: $white;
                        span {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
