@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.project {
    @include breakpoint(min-xl-device) {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    @include breakpoint(min-md-device) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(max-sm-device) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &_btn {
        &__wrap {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            .loadmore {
                &_btn {
                    background-color: $primary;
                    font-family: $yantramanav;
                    padding: 20px 45px;
                    display: block;
                    color: $white;
                    font-size: 20px;
                    cursor: pointer;
                    line-height: 1;
                    border: 0;
                    transition: $baseTransition;
                    &:hover {
                        background-color: $secondary;
                    }
                }
            }
            .loadedText {
                font-size: 20px;
            }
        }
    }
}

/* ---Project Sidebar Widget-- */
.sidebar {
    &_widget {
        background-color: $secondary;
        &__title {
            border-bottom: 1px solid #5b749a;
            background-color: $primary;
            color: $white;
            font-weight: 600;
            font-size: 28px;
            padding-top: 10px;
            padding-bottom: 15px;
            text-align: center;
            margin-bottom: 0;
        }
    }
    &_list {
        text-align: center;
        li {
            transition: $baseTransition;
            color: $white;
            padding-top: 20px;
            padding-bottom: 20px;
            &:not(:last-child) {
                border-bottom: 1px solid #5b749a;
            }
            span {
                transition: $baseTransition;
            }
        }
    }
    &_brochure {
        &__widget {
            background-color: $primary;
            text-align: center;
        }
        &__list {
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid #ffdac8;
                }
                a {
                    transition: $baseTransition;
                    text-transform: uppercase;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: block;
                    color: $white;
                }
                span {
                    transition: $baseTransition;
                }
                &:hover {
                    a {
                        background-color: $secondary;
                        color: $white;
                        span {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

/* --- Variables -- */
$colorInput: black;

/* --- Estilos de la caja del boton filtro -- */
.boxBtnFiltro{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

/* --- Estilos del boton filtro -- */
.btnFiltro{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    &:hover{
        background: #013540;
    }
}


/* --- Estilos del listado filtros -- */
.boxFilterList{
    width: 100%;

    &_title{
        text-align: center;
    }
}

/* --- Estilos del filtro -- */
.filtro{
    display: flex;
    flex-direction: row;
    &_wrapper{
        width: 400px;
        background: #fff;
        border-radius: 10px;
        padding: 20px 25px 40px;
    
    }
    
    &_headerFilter{
        h2{
            font-size: 24px;
            font-weight: 600;
        }
    }
    
    &_headerFilter{
        p{
            margin-top: 5px;
            font-size: 16px;
        }
    }
    
    &_priceInput{
        width: 100%;
        display: flex;
        margin: 30px 0 35px;
    }
    
    &_priceInput{
        position: relative;
        &__separator{
            width: 130px;
            display: flex;
            font-size: 19px;
            align-items: center;
            justify-content: center;
        }

    }
    
    &_field{
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;  

        input{
            &:focus{
                border: 1px solid #000;
            }
            color: $colorInput;
            width: 100%;
            height: 100%;
            outline: none;
            font-size: 19px;
            text-align: center;
            margin-left: 12px;
            border-radius: 5px;
            border: 1px solid #999;
            -moz-appearance: textfield;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &_alert{
        color: red;
        position: absolute;
        font-weight: 500;
        font-size: 14px;
        top: 110%;
        left: 0;
    }

    &_slider{
        height: 5px;
        border-radius: 5px;
        background: #ddd;
        position: relative;

        &__progress{
            height: 5px;
            left: 0%;
            right: 75%;
            position: absolute;
            border-radius: 5px;
            background: #17A2B8;
        }
    }

    &_rangeInput{
        position: relative;

        input{
            color: $colorInput;
            position: absolute;
            top: -7px;
            height: 5px;
            width: 100%;
            background: none;
            pointer-events: none;
            -webkit-appearance: none;
        }
    }

    &_inputTypeRange::-webkit-slider-thumb{
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background: #17A2B8;
        -webkit-appearance: none;
        pointer-events: auto;
    }

    &_inputTypeRange::-moz-range-thumb{
        height: 17px;
        width: 17px;
        border-radius: 50%;
        border: none;
        background: #17A2B8;
        -webkit-appearance: none;
        pointer-events: auto;
    }
}