@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';
@import '../../styles/components/button';

.bg {
    background-image: url('/images/newsletter/bg/1-1-1920x198.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.item {
    @include breakpoint(min-lg-device) {
        display: flex;
        align-items: center;
        width: calc(100% - 65px);
    }
}
.title {
    position: relative;
    text-align: center;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    color: $white;
    @include breakpoint(min-lg-device) {
        padding-right: 40px;
        margin-right: 40px;
        text-align: right;
    }
    @include breakpoint(max-lg-device) {
        font-size: 50px;
    }
    @include breakpoint(max-md-device) {
        margin-bottom: 40px;
    }
    @include breakpoint(max-sm-device) {
        font-size: 40px;
    }
    &:before {
        @include breakpoint(min-lg-device) {
            background-color: #ffb390;
            width: 1px;
            height: 100px;
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}
.form {
    position: relative;
    width: 100%;
    max-width: 625px;
    .input {
        &_field {
            background-color: transparent;
            border: 1px solid #ffb390;
            font-family: $yantramanav;
            color: $white;
            opacity: 0.9;
            width: 100%;
            height: 75px;
            padding-left: 25px;
            padding-right: 210px;
            font-size: 18px;
            @include breakpoint(max-xs-device) {
                padding-right: 25px;
            }
            &::placeholder {
                color: $white;
            }
        }
    }
}
.btn {
    &__wrap {
        @include breakpoint(min-sm-device) {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
        .btn {
            font-family: $rajdhani;
            font-weight: 600;
            width: auto;
            height: 100%;
            padding-left: 30px;
            padding-right: 30px;
            @include breakpoint(max-xs-device) {
                margin-top: 15px;
                width: 100%;
                height: 70px;
            }
        }
    }
}
