# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/proyect/node_modules
/proyect/.pnp
/proyect/.pnp.js

# testing
/proyect/coverage

# next.js
/proyect/.next/
/proyect/out/

# production
/proyect/build

# misc
/proyect/.DS_Store
/proyect/*.pem

# debug
/proyect/npm-debug.log*
/proyect/yarn-debug.log*
/proyect/yarn-error.log*
/proyect/.pnpm-debug.log*

# local env files
/proyect/.env.local
/proyect/.env.development.local
/proyect/.env.test.local
/proyect/.env.production.local

# vercel
/proyect/.vercel

# eslintcache
/proyect/.eslintcache