.div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 60px;
    justify-content: end;
    min-width: 115px;
}
.div:hover {
    border-color: #c0c0c0;
}
.input {
    width: 100%;
    height: 45px;
    border-radius: 12px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 2px;
    padding-inline: 1.3em;
    font-size: 15px;
    color: #4e4e4e;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input:focus {
    border-color: #014655;
    outline: bluenone;
}
/* No se usa actualmente, favor de quitar el comentario en caso de usarlo */
.input:disabled {
    background-color: #f0f0f0;
    border-color: #d0d0d0;
    cursor: not-allowed;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffff inset !important; /* Cambiar 'white' al color de fondo deseado */
    -webkit-text-fill-color: #4e4e4e !important; /* Cambiar el color del texto si es necesario */
}
.my_label {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #8b8989;
    pointer-events: none;
    background-color: #ffff;
    height: 22px;
    font-size: 16px;
}
