@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.area {
    @include breakpoint(min-xl-device) {
        padding-top: 140px;
    }
    @include breakpoint(lg-device) {
        padding-top: 100px;
    }
    @include breakpoint(max-md-device) {
        padding-top: 50px;
    }
}
.pattern {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.img {
    padding-top: 45px;
    padding-left: 70px;
    &__wrap {
        position: relative;
        @include breakpoint(min-xs-device) {
            display: flex;
        }
    }
}
.group {
    &__img {
        padding-top: 45px;
        padding-left: 25px;
        @include breakpoint(min-xs-device) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .single_img {
            &:not(:last-child) {
                padding-bottom: 25px;
            }
        }
    }
}
.content {
    padding-left: 30px;
    @include breakpoint(min-xl-device) {
        padding-left: 90px;
    }
    @include breakpoint(max-md-device) {
        padding-top: 30px;
        padding-left: 0;
    }
}
.title {
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 1;
    @include breakpoint(max-sm-device) {
        font-size: 40px;
    }
}
.subtitle {
    margin-bottom: 20px;
    max-width: 510px;
    color: $primary;
    font-size: 28px;
    line-height: 1.2;
}
.desc {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.5;
}
.list {
    &__item {
        display: flex;
        @include breakpoint(min-xs-device) {
            flex-wrap: wrap;
        }
        @include breakpoint(max-xxs-device) {
            flex-direction: column;
        }
        li {
            &:not(:nth-last-child(-n + 2)) {
                padding-bottom: 10px;
            }
            &.list {
                display: flex;
                @include breakpoint(min-xs-device) {
                    width: 50%;
                }
            }
            .icon {
                margin-right: 15px;
                display: flex;
                align-items: center;
                color: $primary;
                font-size: 28px;
            }
            .text {
                font-size: 22px;
                line-height: 1.5;
                @include breakpoint(min-xl-device) {
                    font-size: 28px;
                }
            }
        }
    }
}
