@import '../../../styles/abstract/custom-variables';
@import '../../../styles/abstract/custom-mixins';

.title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    max-width: 335px;
    margin-bottom: 25px;

    ul {
        list-style-type: square;
        margin-left: 20px;
        padding-left: 20px;
        margin-bottom: 25px;
    }

    li {
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 10px;
        max-width: 360px;
        padding-left: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &::marker {
            color: $primary;
        }
    }
}

.list {
    li {
        max-width: 360px;
        font-size: 18px;
        display: flex;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &_icon {
        color: $primary;
    }
    &_text {
        padding-left: 20px;
        margin-top: -5px;
    }
    &_02 {
        li {
            display: inline-block;
            span {
                font-weight: 700;
                margin-right: 5px;
            }
        }
    }
}
