@import '../../../styles/abstract/custom-variables';
@import '../../../styles/abstract/custom-mixins';

.title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    max-width: 335px;
    margin-bottom: 25px;

    // Estilos para listas dentro de .desc
    ul {
        list-style-type: square; // Cambia esto si prefieres un tipo de lista diferente
        margin-left: 20px; // Espaciado desde el borde izquierdo
        padding-left: 20px; // Espaciado interno
        margin-bottom: 25px; // Espaciado inferior para separar listas de otros elementos
    }

    li {
        font-size: 18px; // Asegura que el texto tenga el mismo tamaño que el de .desc
        line-height: 1.25; // Espaciado entre líneas para mejorar la legibilidad
        margin-bottom: 10px; // Espaciado entre elementos de la lista
        max-width: 360px; // Asegura que los elementos de lista tengan un ancho máximo
        padding-left: 10px; // Espaciado interno para los puntos de lista

        &:last-child {
            margin-bottom: 0; // Elimina el margen inferior del último elemento
        }

        &::marker {
            color: $primary; // Color de los puntos de lista, usando tu variable de color primaria
        }
    }
}

.list {
    li {
        max-width: 360px;
        font-size: 18px;
        display: flex;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &_icon {
        color: $primary;
    }
    &_text {
        padding-left: 20px;
        margin-top: -5px;
    }
    &_02 {
        li {
            display: inline-block;
            span {
                font-weight: 700;
                margin-right: 5px;
            }
        }
    }
}
