@import '../../../styles/abstract/custom-variables';
@import '../../../styles//abstract/custom-mixins';

.adminList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 3em;

    > :hover{
        transform: scale(1.02);
        transition: 0.3s ease;
        cursor: pointer;


        .itemList{
            div{
                div{
                    opacity: 0.8;
                    transition: 0.5s;
                }
            }
            p{
                opacity: 0.4;
                transition: 0.5s;
            }

            > p:last-child{
                color: $primary;
                opacity: 1;
                transition: 0.5s;
            }
        }
    }

    .boxFatherItemList{
        width: 40%;
        border-radius: 20px;
        padding: 1em 1em;
        margin-bottom: 25px;
    }

    .itemList{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        p{
            font-size: medium;
            font-weight: 500;
            margin: 0;
        }

        > p:last-child{
            opacity: 0;
            color: $primary;
            font-size: 14px;
        }
    }


    
    .textos{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        gap: 1em;
        opacity: 0.4;

        p{
            font-size: 1em;
            margin: 0;
        }
    }
}

.desc{
    font-size: small!important;
}