@import '../../../styles/abstract/custom-variables';
@import '../../../styles/abstract/custom-mixins';

.boxFather{
    width: 80%;
    background-color: #fbfbfb;
    flex: 1;
    @include breakpoint(md-device){
        width: 100%;
    }

    @include breakpoint(lm-device){
        width: 100%;
    }

    @include breakpoint(s-device){
        width: 100%;
    }
}