@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.area {
    @include breakpoint(min-xl-device) {
        padding-top: 130px;
    }
    @include breakpoint(lg-device) {
        padding-top: 100px;
    }
    @include breakpoint(max-md-device) {
        padding-top: 50px;
    }
}
.title {
    color: $white;
    font-size: 28px;
    line-height: 1.3;
}
.desc {
    max-width: 480px;
    color: $white;
    font-size: 18px;
    font-weight: 300;
}
.bg {
    padding: 40px 35px;
    &-01 {
        background-image: url('/images/banner/inner-bg/1-1.png');
    }
    &-02 {
        background-image: url('/images/banner/inner-bg/1-2.png');
    }
    &-03 {
        background-image: url('/images/banner/inner-bg/1-3.png');
    }
}
